@media (min-width: 576px) {
}

/* iPad */
@media (min-width: 768px) {
  .nav-item {
    margin: auto 3em;
  }
}

@media (min-width: 992px) {
  .nav-container {
    position: fixed;
  }

  .hero-content {
    margin: 0 4.5em;
  }
  .experience-wrapper {
    flex-direction: row;
    margin: 0 9em;
  }

  .cards-container {
    flex-direction: row;
  }
  .grid-item {
    width: 8rem;
    height: 8rem;
  }

  .profile-flexbox {
    flex-direction: row;
    margin: 0em 9em;
  }
}
