/*iPhone 8*/
@media (min-width: 576px) {
  .nav-container {
    font-size: 1rem;
  }
  .link-flexbox > li > img {
    width: 7em;
    height: 7em;
  }
}

/* iPad */
@media (min-width: 768px) {
  html {
    font-size: 16px !important;
  }
  .nav-item,
  .logo-name {
    margin: auto 3em;
  }
  .logo-name {
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px !important;
  }

  .nav-container {
    position: fixed;
  }

  .hero-content {
    margin: 0 4.5em;
  }
  .experience-wrapper {
    flex-direction: row;
    margin: 0 9em;
  }

  .cards-container {
    flex-direction: row;
  }
  .grid-item {
    width: 8rem;
    height: 8rem;
  }

  .profile-flexbox {
    flex-direction: row;
    margin: 0em 9em;
  }

  .link-flexbox > li > img {
    width: 8em;
    height: 8em;
  }
}
