.profile-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-picture {
  width: 20em;
  height: 20em;
  display: inline-block;
  border-radius: 50%;
  margin: 0px auto;
}

#profile-picture-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.profile-flexbox > p {
  margin: 0 4em;
  justify-content: center;
  align-items: center;
}
